.authorize_transaction_body {
  padding: 20px 20px;
}
.authorize_transaction_body > p {
  text-align: center;
  font-size: 14px;
  color: #382B3D;
}
.authorize_transaction_form {
  padding: 0 20px;
}
.authorize_transaction_form > form > .submitbutton {
  margin-top: 20px;
}